
body,h1,h2,h3,h4,h5,h6 
{
    font-family: "Lato", sans-serif;

}

body {
    background-image: url(../img/background.jpg);
    background-size:auto;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

#footer {

}


/** 
SCROLL BARS
----------------------------------------------------------------------------------

*/

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


#cardContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#cardContainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#cardContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#cardContainer-browse::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#cardContainer-browse::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#cardContainer-browse::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


/** Form Alerts --------------------------------------------------------------*/

#form_alert {

}

.alert {

}

.alert-danger{
    
}

/** --------------------------------------------------------------------------*/

.w3-bar,h1,button 
{
    font-family: "Montserrat", sans-serif
}


.w3-input {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.w3-bar-item {
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.fa-anchor,.fa-coffee 
{
    font-size:200px
}

.w3-bar {
    color: white;
    background-color: rgb(31, 31, 31);
    padding-bottom: 2px;
}

#nav-bar-icon {
    width: 50px;
    padding: 5px;
    margin-left: 0.4em;
}

@media screen and (max-width: 741px) {

    #content-body {
        margin-top: 5em;
        
    }

    #nav-item2 {
        height: 100px;
    }

    #panel3 {
        top: 160px !important;
    }

    #entire-nav-bar {
        min-width: 550px;
    }


  }



#nav-item {
    margin-top: 10px;
    color:rgb(236, 236, 236);
    border-radius: 1px;
}

#nav-item:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 172, 78) !important;
}

#qs-button {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 1em;
    color:rgb(236, 236, 236);
    border-radius: 1px;
}


#qs-button:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 172, 78) !important;
}


#nav-item-logout {
    margin-top: 10px;
    color:rgb(236, 236, 236);
    border-radius: 1px;

}
#nav-item-logout:hover{
    margin-top: 10px;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 172, 78) !important;

}
#nav-item3 {

    margin-top: 10px;
    color: rgb(241, 241, 241) !important;

}




#nav-item2 {
    padding-left: 0px !important;
    margin-right: 10px;
    border-right-style: solid;
    border-right-color: rgb(226, 226, 226);
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    color: rgb(241, 241, 241) !important;
}


#center-container {
    margin-top: 60px;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;

}

fieldset {
    text-align: center;
    border: 0px;
} 


@media screen and (min-width: 1724px) {
    #nav-bar-icon {
        margin-left: 15%;
    }

    #search-box-button {
       
        margin-right: 15%;
    }


    #center-container {
        margin-left: 15%; 
        margin-right: 15%; 
        height: auto;
    }
  }


    /* SQUISHING SEARCH BAR */
  @media screen and (max-width: 1120px) {

    #nav-item3 {
        width: 150px;
        
    }


  }

  /* HIDING SEARCH BAR ON SMALL SCREENS TO STOP NAVBAR OVERFLOW */
  @media screen and (max-width: 1004px) {

    #nav-item3 {
        display: none;
        
    }

    #qs-button {
        display: none;
    }


  }

  @media screen and (max-width: 610px) {

    #panel3 {
        font-size: 20px !important;
        top: 80px;
        left: 120px;
        position: absolute;
    }


  }







  @keyframes CenterResizeMediumScreen {
    from {  }
    to { 
        margin-left: 5%;
        margin-right: 5%;
        
    }
}   

@keyframes CenterResizeAddLargeScreen {
    from {  }
    to { 
        margin-left: 15%; 
        margin-right: 15%; 
    }
} 

@keyframes addLeftMarginSmooth {
    from {  }
    to { margin-left: 15%; }
}


@keyframes minusLeftMarginSmooth {
    from {  }
    to { margin-left: 1%; }
}


@keyframes addRightMarginSmooth {
    from {  }
    to { margin-right: 15%; }
}


@keyframes minusRightMarginSmooth {
    from {  }
    to { margin-right: 1%; }
}


@keyframes SeeMoreHoverSmooth {
    from {

    }
    to { 
        border-color: rgb(255, 172, 78);
        color: white;

    }
}


@keyframes navbarItemHover {
    from {

    }
    to { 
        background-color: rgb(226, 226, 226);
        color: rgb(241, 241, 241) !important;

    }
}





  #panel-1 {
      margin-left: 0em;
      font-size: 20px;
      color: #dadada;
      padding: 10px;
      background-color: rgb(31, 31, 31);
      width: auto;
      padding-right: 17px;
      border-bottom: 4px solid;
      border-color: rgb(155, 203, 243);
      box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
  }

  #panel2 {
    margin-left: 0em;
    font-size: 24px;
    font-weight: 400;
    color: #dadada;
    padding: 10px;
    background-color: rgb(31, 31, 31);
    width: auto;
    padding-right: 17px;
    border-bottom: 4px solid;
    border-color: rgb(155, 202, 243);
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
  }

  #panel3 { 
    margin-left: 1em;
    font-size: 24px;
    font-weight: 400;
    color: #dadada;
    padding: 10px;
    background-color: rgb(31, 31, 31);
    width: auto;
    padding-right: 17px;
    border-bottom: 4px solid;
    border-color: rgb(168, 216, 255);
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
  }

  #panel3:hover {
    cursor: pointer;
    animation: SeeMoreHoverSmooth 0.2s forwards;
  }


  #cardContainer {
      padding-top: 1em;
      padding-bottom: 1em;
      box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
      background-color: rgba(0, 0, 0, 0.493);
      min-width: 667px;
      margin-right: 0.5em;
      overflow-y: scroll;
      max-height: 860px;
  }

  #panel-see-more {
      float: center;
      margin-left: 0em;
      padding: 8px;
      color: black;
      font-size: 18px;
      background-color: rgb(255, 172, 78);
      border-radius: 2px;
      cursor: pointer;
  }

  #see-more-b {
    text-align: center;
  }

  #panel-see-more:hover {

    background-color: rgb(255, 198, 133);
  }
  #cardContainer-browse {
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
    background-color: rgba(0, 0, 0, 0.493);
    min-width: 667px;
    margin-right: 0.5em;
    overflow-y: scroll;
    max-height: 1200px;
}


  #contentFilter {
    height: 500px;
    margin-left: 1em;
    font-size: 24px;
    font-weight: 400;
    color: #dadada;
    padding: 10px;
    max-height: 800px;
    background-color: rgb(59, 59, 59);

    
    width: 245px;
    padding-right: 0px;
  }

  #filter-title{
    font-size: 24px;
    font-weight: 400;
    color: #dadada;
    padding: 10px;
    background-color: rgb(29, 29, 29);
    margin-left: -10px;
    width: auto;
  }

  #filter-options-1{
      list-style: none;
  }





#display-panel {
    width: auto;
    color: aliceblue;
    background-color: #1C2848;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10em;
    margin-bottom: auto;
    height: auto;
    padding: 10px;
}

#panel-title {
    padding: 0.7em;
    font-size: 20px;

}


#panel-title-legend {
    font-size: 18px;
}



#mapsTag{
    width: 10px;
    height: 10px;
    background-color: green;
}

.sub-title {
    margin-right: 1em;
}




#browse-container {
    margin-right: 1em;
    display: flex;
    margin-top: 2em;
}



#content-filter {
    max-width: 427px;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100%;
    margin-right: 2em;
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
}

#content-filter-title {
    font-size: 22px;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 4px;
    text-align: center;
    border-bottom: 4px solid;
    border-color: rgb(155, 203, 243);

}


#content-filter-submit-new-pref {
    text-align: center;
    font-size: 18px;
    color: rgb(39, 39, 39);
    background-color: rgba(240, 240, 240, 0.89);
    padding: 4px;
    margin-right: 11px;
    margin-left: 11px;
    border-radius: 2px;
    border: 1px solid;
    border-color: rgb(75, 75, 75);

}


#content-filter-submit-new-pref:hover {
    background-color: rgba(255, 255, 255, 0.945);
    color: black;
    cursor: pointer;
    border-color: black;
}



#content-filter-game {
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-right: 20px;

}

#content-filter-game-title {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 0.5em;
}

#filter-game-options{
    font-size: 18px;
    margin-left: 1em;
}


#filter-option {
    width: auto;
    padding: 1px;
}




/*** 

PROFILE STUFF --------------------------------------


*/


#profile-container {
    display: flex;
    margin-top: 2em;
}


#profile-content-header {


}

#profile-content-header-title {

    margin-top: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    border-bottom: 4px solid;
    border-color: rgb(155, 203, 243);
    padding: 4px;
    padding-left: 10px;
    font-size: 22px;
    width: 82%;

}


#profile-content-header-edit {
    margin-top: -3em;
    float: right;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    border-bottom: 4px solid;
    border-color: rgb(255, 172, 78);
    padding: 4px;
    font-size: 22px;
    width: 15%;
    text-align: center;
    text-decoration: none;

}

#profile-content-header-edit:hover {
    color: rgb(54, 54, 54);
    border-color: rgb(238, 238, 238);
    background-color:rgb(255, 172, 78);
    cursor: pointer;
}

#panel4 { 
    margin-left: 8em;
    font-size: 24px;
    font-weight: 400;
    color: #dadada;
    padding: 10px;
    background-color: rgb(31, 31, 31);
    width: auto;
    padding-right: 17px;
    border-bottom: 4px solid;
    border-color: rgb(168, 216, 255);
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
  }



  #profile-content {	
    max-width: 370px;	
    min-width: 370px;	
    max-height: 870px;	
    background-color: rgba(0, 0, 0, 0.493);	
    width: 100%;	
    margin-right: 2em;	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
}	
#profile-content-img {	
    display: flex;	
    height: auto;	
    color: white;	
    background-color: rgba(0, 0, 0, 0);	
    padding: 0px;	
    margin-bottom: 20px;	
}	
#profile-img {	
    float: left;	
    border: 2px solid;	
    border-bottom: 6px solid;	
    border-color: rgb(155, 202, 243);	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
    height: 180px;	
    width: auto;	
}	
#profile-img-detail-panel {	
    color: rgb(230, 230, 230);	
    padding-left: 10px;	
    padding-top: 5px;	
    font-size: 13px;	
    min-width: 152px;	
    border-bottom: 6px solid;	
    border-color: rgb(155, 202, 243);	
    margin-left: 0.7em;	
    margin-right: 0em;	
    background-color: rgba(0, 0, 0, 0.616);	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
    	
}	
#profile-content-about {	
    height: auto;	
    color: white;	
    background-color: rgba(0, 0, 0, 0.616);	
    padding: 0px;	
    padding-bottom: 20px;	
    margin-bottom: 20px;	
    padding-right: 20px;	
}	
#profile-content-title {	
    padding-top: 10px;	
    padding-left: 10px;	
    font-size: 20px;	
    margin-bottom: 0em;	
    margin-left: 2px;
}	
#profile-content-bio{	
    color: rgba(230, 230, 230, 0.959);	
    padding-left: 14px;
    margin-top: 5px;	
}	
#profile-content-pop-uploads {	
    padding: 4px;	
}	

#profile-content-pop-uploads select {	
    margin-top: 8px;	
}	



#profile-content-pop-uploads a:hover {	
    color: rgb(255, 172, 78);
    
}	
#profile-content-search {	
    padding: 5px;	
}	



/*** 

CONTENT CARDS FONT PAGE --------------------------------------


*/



@media screen and (max-width: 1342px) {

    #card-info-gamemap {
        display: flex;
    }

    #item-ratings {
        margin-top: 0.5em;
        margin-left: -0.3em;
        margin-bottom: 0em;
        width: 100%;
        float: left !important;
    }

    #card-info {
        margin-left: -0.3em !important;
    }


  }


  

  @media screen and (max-width: 1015px) {


    #upload-tag-filetype {
        margin-top: 3px !important;
    }

  }


  @media screen and (min-width: 1343px) {


    #card-bottom-wrap{
        height: 200px !important;
        min-height: auto !important;
        
    }

  }


#card-container-title {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 22px;
    color: white;
    background-color: rgb(56, 56, 56);
    padding: 4px;
    padding-left: 10px;
    border-bottom: 4px solid;
    border-color: rgb(155, 203, 243);
}



#card-info-uploader {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.801);
    display: inline-block;
    margin-bottom: 1em;
}


#card-info-desc {
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#card-info-gamemap {
    
    text-align: center;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.w3-theme-d3 {
    color:#fff !important; 
    background-color:#122232 !important;
    border-top: 3px solid #2c4d6e;
    border-bottom: 5px solid #7cbbfa
  }


  #item-ratings {
  
      margin-right: -0.5em;
      float: right;
  }

  .checked {
      color: orange;
    }


#card-info-title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px;
}

#card-info-title:hover {
    color: rgb(114, 143, 161);
    cursor: pointer;
}



#upload-tag-game {
    margin-left: -0.5em;
    margin-right: 0.5em;
    margin-bottom: -2em;
    border: 1px solid black;
    color: white;
    background-color: green;
    font-size: 14px;
    z-index: 1;

}
#upload-tag-filetype {
    margin-bottom: -2em;
    margin-top: -7.5em;
    margin-left: -0.5em;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    background-color: rgb(92, 185, 228);
    font-size: 14px;
    z-index: 1;

}

#card-bottom-wrap{
    height: 230px;
    min-height: auto;
    
}

/** 	
VIEWING FILE UPLOAD VIEW CSS	
*/	
#panel-view-file-view { 	
    margin-left: 0em;	
    font-size: 24px;	
    font-weight: 400;	
    color: #dadada;	
    padding: 10px;	
    background-color: rgb(31, 31, 31);	
    width: auto;	
    padding-right: 17px;	
    border-bottom: 4px solid;	
    border-color: rgb(168, 216, 255);	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
  }	
#upload-container {	
    min-width: 655px;	
    display: flex;	
    height: auto;	
    margin-top: 2em;	
    padding-top: 1em;	
    padding-bottom: 1em;	
}	
#upload-title {	
    font-size: 24px;	
    display: flex;	
    float: left;	
    padding: 0.5em;	
    margin-bottom: 0.5em;	
    width: 100%;	
    color: white;	
    background-color: rgba(0, 0, 0, 0.616);	
	
}	
#upload-img-container {	
    min-width: 825px;
    max-width: 825px;	
    padding: 1em;	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
    background-color: rgba(0, 0, 0, 0.493);	
    margin-left: 0em;	
}	
#upload_img {	
    display: flex;	
    float: left;	
    border: 2px solid;	
    border-bottom: 6px solid;	
    border-color: rgb(155, 202, 243);	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
    max-height: 450px;	
    min-height: 250px ;	
    width: auto;	
}	
#upload-gallery-thumbs{	
    display: flex;	
    float: right;	
}	
#upload-thumb {	
    padding: 2px;	
    margin-bottom: 3px;	
    margin-left: 2px;	
    margin-top: 5px;		
    width: 192px;	
    height: auto;	
    opacity: 80%;	
}	
.thumb-active {	
    opacity: 100% !important;	
    border: 2px solid rgb(155, 202, 243);	
}	
@media screen and (max-width: 1352px) {	
    #upload-thumb {	
        margin-left: 2px;	
        margin-top: 5px;	
    }	
    #upload-img-container {	
        min-width: 825px !important;
    }	

  }	
  #upload-desc-container {	
    margin-top: 0.5em;	
    min-width: 825px;	
    max-width: 825px;	
    padding: 1em;	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
    background-color: rgba(0, 0, 0, 0.493);	
    margin-left: 0em;	
    height: auto;
    max-height: 600px;
  }	
  #desc-comment-bar {	
    background-color: rgb(44, 44, 44);	
    border-bottom: 4px solid;	
    border-color: rgb(155, 202, 243);	
  }	
  #desc-comment-button {	
    padding: 1em;	
    margin-bottom: -2px;	
    margin-left: -2px;	
    margin-top: -2px;	
    color: white;	
    background-color: rgb(44, 44, 44);	
  }	
  #upload-desc-title {	
      color: white;	
  }	
  #upload-desc-text {	
      margin-top: 0em;	
      padding: 1em;	
    color: rgba(255, 255, 255, 0.842);	
      background-color: rgba(0, 0, 0, 0.445);	
      border-radius: 3px;	
  }	
  #upload-tags-area {	
    height: 50px;	
    border-radius: 3px;	
    margin-top: 0.5em;	
    min-width: 655px;	
    max-width: 800px;	
    padding-left: 1em;	
    padding-top: 0.5em;	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
    background-color: rgba(0, 0, 0, 0.493);	
    margin-left: 0em;	
  }	
  #upload-desc-area a {	
      font-size: 16px;	
      color: white;	
  }	
  #download-container {	
      float: right;
      min-width: 350px;	
      margin-top: 0em;	
    margin-left: 5em;	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
    background-color: rgba(0, 0, 0, 0.493);	
    padding: 1em;	
  }	

  @media screen and (max-width: 1330px) {	
    #download-container {
        margin-left: 2em;
    }

    #upload-similar-items-menu {
        margin-left: 2em !important;

    }

  }	



  #download-button {	
        margin-left: 0em;
        margin-bottom: 1em;	
  }	
  #download-button a {	
    padding: 1em;	
  }	
.dl-btn {	
    margin-bottom: 0em;	
    color: white;	
    background-color: rgb(39, 39, 39);	
    width: 100%;	
    padding-right: 17px;	
    border: 4px solid;	
    border-color: rgb(155, 203, 243);	
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);	
  }	
  .dl-btn:hover {	
    background-color: rgb(70, 70, 70);	
  }


    #user-uploader-bar {
        display: flex;
        margin-bottom: 1em;
        background-color: #0a1124b4;
        border-radius: 2px;
    }

    #user_img_card {
        height: 90px;
        padding: 2px;
        background: rgb(155, 203, 243);
    }



    #card-prof-all {
        margin-left: 1em;
    }

    #user_id_card {
        margin-left: -0.2em;
        height: 40px;
        width: 100%;
        margin-top: 0em;
        padding: 4px;
        font-size: 22px;
        color: white;
    }

    #user_info_card {
        margin-top: 0em;
        height: auto;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.719);
        display: flex;
    }

    #user_img_card:after {
        display: block;
    }

    #panel5 {
        display: flex;
        margin-left: 0em;
        font-size: 20px;
        color: #dadada;
        padding: 10px;
        background-color: rgb(31, 31, 31);
        width: auto;
        padding-right: 17px;
        border-bottom: 4px solid;
        border-color: rgb(155, 203, 243);
        box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
        margin-bottom: 0em;
    }

    #upload-file-info-container {
        margin-bottom: 1em;
        padding: 15px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.767);
        border-radius: 2px;
    }

    #file_info_card{
        margin-top: 0em;
        height: auto;
        font-size: 14px;
        color: rgba(0, 17, 48, 0.719);
        display: flex;
    }


    .share-button{
        border-radius: 2px;
        font-size: 20px !important;
        padding: 5px;
        margin-bottom: 0.5em;	
        border: 1px solid rgba(0, 0, 0, 0.603);
        background-color: rgba(255, 255, 255, 0.897);	
        width: 100%;	
	
    }

    #upload-file-recommendation {
        display: flex;
        margin-bottom: 9em;
        padding: 15px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.767);
        border-radius: 2px;
    }


    #upload-file-recommend-title {
        font-size: 19px;
        padding: 4px;
    }

    #upload-file-recommend-file {
        cursor: pointer;
        margin: 5px;
        margin-top: 5px;
        font-size: 17px;
        padding: 10px;
        padding-left: 6px;
        color: rgba(8, 59, 121, 0.712);
        text-decoration: underline;
    }

    #upload-entire-container {
        display: flex;
    }

/**

UPLOAD SIMILAR ITEMS MENU

*/




#upload-similar-items-menu{
    padding: 1em;
    height: auto;
    margin-top: 6px;
    margin-left: 5em;
    max-height: 880px;
    width: 387px;
    max-width: 387px;
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0.493);
    overflow-y: auto;
    margin-bottom: 5em;
}

/* custom scrollbar */
#upload-similar-items-menu::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
/* custom scrollbar */
#upload-similar-items-menu::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
/* custom scrollbar */
#upload-similar-items-menu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}



#similar-files-card-wrapper {
    margin-top: 1em;
}



/* login container */


#user-login-container {
    margin-top: 0.5em;
    min-width: 350px;
    max-width: 350px;
    padding: 1em;
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.37);
    background-color: rgba(0, 0, 0, 0.493);
    margin-left: 0em;
    height: auto;
    max-height: 600px;
}


#username {
    border-radius: 2px;

}

#password {
    border-radius: 2px;
}

#submit {
    margin-left: 0.9em;
    background-color: #08121bb2;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 2px;
}



#form-title-text {
    font-size: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    float:left;
    width: auto;
    margin-left: 4px;
    background-color: #001141c0;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    width: 50%;
    text-align: left;
    border-radius: 2px;
}


#form-title-text-password {
    font-size: 16px;
    margin-top: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    float:left;
    width: auto;
    margin-left: 4px;
    background-color: #b87318c0;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    width: 50%;
    text-align: left;
    border-radius: 2px;
}


.form-group {
    height: auto;
}



/**
 EDIT PROFILE CSS SECTION

*/


#edit-profile-container {
    margin-top: 0.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.075);
    background-color: rgba(206, 206, 206, 0.788);
    min-width: 1020px;
    max-width: 1020px;
    margin-right: 0.5em;
    max-height: 1500px;
    border-top: 6px solid;
    border-color: rgb(155, 202, 243);
}

#edit-profile-content-box {
    height: auto;
    color: rgb(41, 41, 41);
    background-color: rgba(247, 247, 247, 0.884);
    padding: 1em;
    margin-bottom: 1em;
    width: 90%;
    border-radius: 2px;

}

#edit-profile-content-header {
    font-weight: 600;
    margin-top: 1em;
    color: rgb(56, 56, 56);
    background-color: rgba(167, 167, 167, 0.863);
    border-bottom: 4px solid;
    border-color: rgb(121, 121, 121);
    padding: 4px;
    padding-left: 10px;
    font-size: 22px;
    width: 97%;
}

#edit-profile-stats-box {
    height: auto;
    color: rgb(53, 53, 53);
    background-color: rgba(255, 255, 255, 0.884);
    padding: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    width: auto;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 2em;

}

#form-content-header {
    color: rgb(37, 37, 37);
    text-align: left;
    border-radius: 3px;
    background-color: rgba(212, 212, 212, 0.884);
    width: 97%;
    padding: 4px;
    font-size: 20px;
    height: 40px;
    margin: 0em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
}

#form-content-text {
    color: rgb(70, 70, 70);
    height: 40px;
    margin: 0.1em;
    padding: 4px;
    font-size: 19px;
}


.about-form {
    margin-top: 0.5em;
    width: 95%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


#file-upload {
    margin-top: -15px;
}

#upload-button {
    border-color: white;
    background-color: gray;
    color: white;
    font-size: 16px;
}

