{% extends "default.html" %}

{% block form %}
<div> 
    <div id = 'center-container'>
        <div class="w3-padding-16"></div>
        <a id = "panel2">// Login</a> 
        <div class="w3-padding-16"></div>

        <br>
        <div id = "user-login-container">
            <a id = "panel5">Enter Username and Password</a> <br>
            <div class="w3-row-padding" >
            <form method="POST" action='' class="w3-display-container">
                {{ form.hidden_tag() }}

                <fieldset class="form-group"> 
                        {{form.username.label(class="w3-left", id = "form-title-text")}}
                        <br>
                        {{form.username(class="w3-bar-item w3-input  w3-padding-medium", style="width:50%;  ")}}
                        <br>
                        {{form.password.label(class="w3-left", id = "form-title-text")}}
                        <br>
                        {{form.password(class="w3-bar-item w3-input  w3-padding-medium w3-left",style="width:50%", onclick="document.getElementsById('pnote')removeAttribute('hidden');")}}
                        <p id="pnote" hidden>Note: Password must include 8 characters. 1 special character and 1 number.</p>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="w3-bar-item w3-button ")}}
                </div>
                </form>
            </div>
                <div class="container" style="z-index:300;">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div id="form_alert" class="alert alert-{{ category }} ">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                </div>
            </div>
    </div>

</div>

 
{% endblock form %}