{% extends "default.html" %}
{% block content %}
<div>
  <div id = 'center-container'>
    <div class="w3-padding-16"></div>
      <a id = "panel-1">// Logged In</a> 
      <br> 
      <br>
      <br>
      <a id = "panel2">// Your Profile and Fileshare</a>
      <div id = "profile-container" class = "">

        <div class="w3-container" id = "profile-content">
          <div id = "profile-content-header" >
            <p id = "profile-content-header-title" >{{current_user.username}}</p>
            <p id = "profile-content-header-edit" >Edit</p>
          </div>
          
          <div id = "profile-content-img">
            <img id = "profile-img" src="./inc/img/user_profile_img/000000.jpg">
            <div id = "profile-img-detail-panel">
              <p>Posted Files: {{current_user.posted_count}}</p>
              <p>Visted: {{current_user.visit_count}}</p>
              <p>Joined: {{time_con(current_user.tl)}}</p>
              <p>Last Post: NULL</p>
              <p>File downloads: {{current_user.total_downloads}}</p>
            </div>
      </div>
      <div id = "profile-content-about">
        <p id = "profile-content-title">About Me</p>
        <p id = "profile-content-bio">
          {{current_user.about}}
        </p>
      </div>

      <div id = "profile-content-about">
        <p id = "profile-content-title">Pinned Uploads</p>
        <div id = "profile-content-pop-uploads">
        <a href = "#"> Halo 3 Sandbox Empty</a>
        <br>
        <a href = "#"> Halo 3 Foundry Empty</a>
        <br>
        <a href = "#"> Halo 3 Sandtrap Empty</a>
      </div>
      </div>
      <div id = "profile-content-about">
        <div id = "profile-content-search">
          <label id = "profile-content-title">Search User's Files</label>
          <input class = "w3-input w3-small" type = "text">
        </div>
      </div>
      
      
  </div>
    
    <div id = "cardContainer">
      <div id = "card-title-container"><p id = "card-container-title">Fileshare</p></div>
      
        <div class="w3-row-padding">
          
         <!--CARD ENTIRE START------------------------------------>
         <div class="w3-third w3-container w3-margin-bottom" id = "single-card-entire">
          <!--CARD IMG-->
          <img src="/static/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
           <!--CARD TAGS-->
            <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
            <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
            <!--CARD RATING-->  
            <div id = "item-ratings">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <p id = "card-info-gamemap">Map - Standoff</p>
            </div>
            <!--CARD INFO-->
            <div id = "card-info">
              <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
              <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
              <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
            </div>
            </div>
        </div>
      <!--CARD ENTIRE END------------------------------------>

      <!--CARD ENTIRE START------------------------------------>
      <div class="w3-third w3-container w3-margin-bottom" id = "single-card-entire">
        <!--CARD IMG-->
        <img src="/static/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
         <!--CARD TAGS-->
          <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
          <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
          <!--CARD RATING-->  
          <div id = "item-ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <p id = "card-info-gamemap">Map - Standoff</p>
          </div>
          <!--CARD INFO-->
          <div id = "card-info">
            <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
            <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
            <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
          </div>
          </div>
      </div>
    <!--CARD ENTIRE END------------------------------------>

    <!--CARD ENTIRE START------------------------------------>
    <div class="w3-third w3-container w3-margin-bottom" id = "single-card-entire">
      <!--CARD IMG-->
      <img src="/static/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
       <!--CARD TAGS-->
        <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
        <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
        <!--CARD RATING-->  
        <div id = "item-ratings">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p id = "card-info-gamemap">Map - Standoff</p>
        </div>
        <!--CARD INFO-->
        <div id = "card-info">
          <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
          <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
          <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
        </div>
        </div>
    </div>
    <!--CARD ENTIRE END------------------------------------>
  
                    
        </div> <!--- END First Row Grid Medium SCREENS--------------------------------------->
        

       <!--- SECOND Row Grid Medium SCREENS --------------------------->
       <div class="w3-row-padding ">
        <!--CARD ENTIRE START------------------------------------>
        <div class="w3-third w3-container w3-margin-bottom" id = "single-card-entire">
          <!--CARD IMG-->
          <img src="/static/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
           <!--CARD TAGS-->
            <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
            <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
            <!--CARD RATING-->  
            <div id = "item-ratings">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <p id = "card-info-gamemap">Map - Standoff</p>
            </div>
            <!--CARD INFO-->
            <div id = "card-info">
              <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
              <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
              <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
            </div>
            </div>
        </div>
        <!--CARD ENTIRE END------------------------------------>
            <!--CARD ENTIRE START------------------------------------>
    <div class="w3-third w3-container w3-margin-bottom" id = "single-card-entire">
      <!--CARD IMG-->
      <img src="/static/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
       <!--CARD TAGS-->
        <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
        <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
        <!--CARD RATING-->  
        <div id = "item-ratings">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p id = "card-info-gamemap">Map - Standoff</p>
        </div>
        <!--CARD INFO-->
        <div id = "card-info">
          <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
          <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
          <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
        </div>
        </div>
    </div>
    <!--CARD ENTIRE END------------------------------------>

        <!--CARD ENTIRE START------------------------------------>
        <div class="w3-third w3-container w3-margin-bottom" id = "single-card-entire">
          <!--CARD IMG-->
          <img src="/static/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
           <!--CARD TAGS-->
            <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
            <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
            <!--CARD RATING-->  
            <div id = "item-ratings">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <p id = "card-info-gamemap">Map - Standoff</p>
            </div>
            <!--CARD INFO-->
            <div id = "card-info">
              <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
              <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
              <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
            </div>
            </div>
        </div>
        <!--CARD ENTIRE END------------------------------------>          
      </div>
            <!--- See more buton -->
            <div class = "w3-row"> 
              <div class = "w3-third w3-container">
                <a></a>
              </div>
              <div class = "w3-third w3-container" id = "see-more-b">
                <a id = "panel-see-more"> See More</a>
              </div>
              <div class = "w3-third w3-container"> <a></a> </div>
            </div>
      
      </div><!---End Of Card Container---->
</div>
  </div>
</div>


{% endblock content %}