{% extends "default.html" %}

{% block form %}

<div id="login" style="width: 100%;height: 100%; z-index:3; position: absolute;margin-top:10%">
    <div id="title" style="color:#ffffff;background-color:#202020; position:relative;text-align:center;z-index:5; margin-top:auto;">
        <button class="btn btn-danger" style="margin-top:1%;margin-left:95%;z-index:5" onclick="window.location.href='/home'" >X</button>
        <br>
        <form method="POST" action=''>
            {{ form.hidden_tag() }}
            <fieldset class="form-group"> 
                <div class="form-group">
                    {{form.username.label(class="form-control-label")}}
                    <br>
                    {% if form.username.errors %}
                        {{form.username(class="is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{form.username}}
                    {% endif %}
                    <br>
                </div>
                <div class="form-group">
                    {{form.email.label(class="form-control-label")}}
                    <br>
                    {% if form.email.errors %}
                        {{form.email(class="is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{form.email}}
                    {% endif %}
                    <br>
                </div>
                <div class="form-group">
                    {{form.password.label(class="form-control-label")}}
                    <br>
                    {% if form.password.errors %}
                        {{form.password(class="is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{form.password}}
                    {% endif %}
                    <br>
                </div>
                <div class="form-group"> 
                    {{form.check_password.label(class="form-control-label")}}
                    <br>
                    {% if form.check_password.errors %}
                        {{form.check_password(class="is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.check_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{form.check_password}}
                    {% endif %}
                    <br>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn",style="color:#ef8353;font-size:30px;padding-botton:10px")}}
                
            </div>
            <br>
            </form>
    </div>

  <div id="wrapper" style="top: 0;left: 0;right: 0;	bottom: 0;width: 100%;height: 100%;	background: black;opacity: .5;position: fixed;width: 100%;height: 100%;z-index: 4;">
      
  </div>

{% endblock form %}
