{% extends "default.html" %}

{% block form %}
<div>
    <div id='center-container'>
        <div class="w3-padding-16"></div>
        <a id="panel2">// Create an account</a>
        <div class="w3-padding-16"></div>

        <br>
        <div id="cardContainer">

            <div class="w3-container">


                <form method="POST" action='' enctype="multipart/form-data" class="w3-cell-row">
                    {{ form.hidden_tag() }}

                    
                    <!-- Text -->
                    <div class="w3-container w3-cell">

                        <!-- Username -->
                        {{form.username.label(class="w3-left" , id = "form-title-text")}}
                        <br>
                        {% if form.username.errors %}
                            {{form.username(class="w3-bar-item w3-input w3-hide-small w3-padding-medium is-invalid", style="width:75%;")}}
                                <div id = "form-title-text" class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{form.username(class="w3-bar-item w3-input w3-hide-small w3-padding-medium", style="width:75%;")}}
                        {% endif %}

                        <!-- Email -->
                        {{form.email.label(class="w3-left", id = "form-title-text")}}
                        <br>
                        {% if form.email.errors %}
                            {{form.email(class="w3-bar-item w3-input w3-hide-small w3-padding-medium is-invalid", style="width:75%;")}}
                            <div id = "form-title-text" class="w3-left invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% else %}
                            {{form.email(class="w3-bar-item w3-input w3-hide-small w3-padding-medium", style="width:75%;")}}
                        {% endif %}

                        <!-- Password_one -->
                        {{form.password.label(class="w3-left", id = "form-title-text-password")}}
                        <br>
                        {% if form.password.errors %}
                        {{form.password(class="w3-bar-item w3-input w3-hide-small w3-padding-medium is-invalid", style="width:75%;")}}
                            <div id = "form-title-text" class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.password(class="w3-bar-item w3-input w3-hide-small w3-padding-medium", style="width:75%;")}}
                        {% endif %}

                        <!-- Password_two -->
                        {{form.check_password.label(class="w3-left", id = "form-title-text-password")}}
                        <br>
                        {% if form.check_password.errors %}
                            {{form.check_password(class="w3-bar-item w3-input w3-hide-small w3-padding-medium is-invalid", style="width:75%;")}}
                                <div id = "form-title-text" class="invalid-feedback">
                                    {% for error in form.check_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{form.check_password(class="w3-bar-item w3-input w3-hide-small w3-padding-medium", style="width:75%;")}}
                        {% endif %}

                        <br>
                        <br>
                        <p id="pnote" hidden>Note: Password must include 8 characters. 1 special character and 1 number.</p>
                        
                        <div class="form-group">
                            {{ form.submit(class="w3-bar-item w3-button w3-padding-large")}}
                        </div>
                        
                    </div>

                    <!-- Image -->
                    <div class="w3-container w3-cell w3-middle">
                        <h3>Profile Photo</h3>
                        <div id="profile-content-img">
                            <img id="profile-img" src="static/img/placeholder.jpeg">
                        </div>
                        {% if form.file.errors %}
                        {{form.file(class="is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.file.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        <div>
                        {{form.file.label(class="h4")}}
                        <br>
                        {{form.file()}}
                        </div>
                        {% endif %}
                    </div>


                </form>

            </div>

            <div class="container" style="z-index:300;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div id="form_alert" class="alert alert-{{ category }} ">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

        </div>
    </div>

</div>

{% endblock form %}