<!DOCTYPE html>
<html lang="en">
<title>Haloshare</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src = "./inc/js/main.js"></script>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large">
    
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-large" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index.html" id = "nav-item2" class="w3-bar-item w3-padding-medium">117Share</a>
    <a href="browse.html" id = "nav-item" class="w3-bar-item w3-button w3-hide-small w3-padding-medium ">Browse Files</a>
    <a href="#" id = "nav-item" class="w3-bar-item w3-button w3-hide-small w3-padding-medium ">Login</a>
    <input id = "nav-item3" type="text" class="w3-bar-item w3-input w3-hide-small w3-padding-medium w3-right " placeholder="Quicksearch...">
    <a href="#" id = "nav-item" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-right"><i class="fa fa-search"></i></a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Browse Files</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Login</a>

  </div>
</div>

<!-- Header -->


<!-- Front Page Halo Content -->

<div>

  <div id = 'center-container'>
    <div class="w3-padding-16"></div>
      <a id = "panel-1">// View File</a> 
      <br> 
      <br>
      <br>
      <a id = "panel-view-file-view">// Viewing File _ demo</a>
      <div id = "upload-container" class = "">
        <div id = "upload-img-container">
          <a id = "upload-title"> Halo 3 Classic Jenga v6</a>
          <img id = "upload_img" src="./inc/img/user_upload/0000.jpg" >
          <div id = "upload-gallery-thumb">
            <img id = "upload-thumb" src= "inc/img/user_upload/0000.jpg" class = "thumb-active">
            <img id = "upload-thumb" src= "inc/img/user_upload/0100.jpg" class = "">
            <img id = "upload-thumb" src= "inc/img/user_upload/0200.jpg" class = "">
            <img id = "upload-thumb" src= "inc/img/user_upload/0200.jpg" class = "">
          </div>
        </div>

        <div id = "download-container">
          <a id = "panel5">Created By & File Information</a> <br>
          <div id = "user-uploader-bar">
            
            <img id = "user_img_card" src = "inc/img/user_profile_img/000000.jpg">
            <div id = "card-prof-all">
            <a id = "user_id_card">SkyFlexV</a> <br>
            <a id = "user_info_card">(Grunt)</a> 
            <a id = "user_info_card">Posts: 04</a> 
            <a id = "user_info_card">Downloads: 15</a>
          </div>
          </div>
          <div id = "upload-file-info-container">
            <div>
              <a id = "file_info_card" > Filename: Jengav6.rar</a>
              <a id = "file_info_card" > File size: 2.4Mb (2400kb)</a>
              <a id = "file_info_card" > Upload date: 10/10/2020</a>
            </div>
          </div>
          <div id = "upload-file-recommendation">
            <div>
              <a id = "upload-file-recommend-title" >Recommended Files: </a> </br>
              <a id = "upload-file-recommend-file"> Halo 3 Jenga 6v Gamemode</a>
            </div>
          </div>
          <a id = "download-button">
            <button class="share-button w3-xxlarge"><i class="fa fa-share"></i> Share</button>
          
          <a id = "download-button">
            <button class="dl-btn w3-xxlarge"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>


      


      <div id = "upload-entire-container">
      <div id = "upload-desc-container">


          <div class="w3-bar" id = "desc-comment-bar">
            <button class="w3-bar-item  tablink w3-light-blue" id = "desc-comment-button" onclick="openCity(event,'upload-desc-area')">Description</button>
            <button class="w3-bar-item  tablink " id = "desc-comment-button" onclick="openCity(event,'upload-comment-area')">Comments</button>
          </div>
  
          <div id="upload-desc-area" class = "tab" >
            <h2 id = "upload-desc-title">Description</h2>
            <p id = "upload-desc-text">Halo 3 Jenga like you know and love! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a> Tags: </a>
            <div id = 'upload-tags-area'>
              <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo 3</a>
              <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
            </div>
            <a> Search Tags </a>
            <div id = 'upload-tags-area'>
              <a>halo3, jenga, halo3jenga, customgame</a>
            </div>
          </div>

        <div id="upload-comment-area"  class = "tab" style="display:none">
          <h2 id = "upload-desc-title">Comments</h2>
          <p>The comments are currently disabled and will feature in a future update</p> 
        </div>



      </div>
      <div id = "upload-similar-items-menu">
        <a id = "panel5"> Similar Files: </a>
        <div id = "similar-files-card-wrapper">
      <!--CARD ENTIRE START------------------------------------>
        <div class="w3-row-padding w3-hide-medium" >
          <div class=" w3-container w3-margin-bottom" id = "single-card-entire">
            <!--CARD IMG-->
            <img src="./inc/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
             <!--CARD TAGS-->
              <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
              <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
              <!--CARD RATING-->  
              <div id = "item-ratings">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <p id = "card-info-gamemap">Map - Standoff</p>
              </div>
              <!--CARD INFO-->
              <div id = "card-info">
                <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
                <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
                <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
              </div>
              </div>
          </div>
      </div> <!----END CARD DIV-->
      <!--CARD ENTIRE START------------------------------------>
      <div class="w3-row-padding w3-hide-medium" >
        <div class=" w3-container w3-margin-bottom" id = "single-card-entire">
          <!--CARD IMG-->
          <img src="./inc/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
           <!--CARD TAGS-->
            <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
            <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
            <!--CARD RATING-->  
            <div id = "item-ratings">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <p id = "card-info-gamemap">Map - Standoff</p>
            </div>
            <!--CARD INFO-->
            <div id = "card-info">
              <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
              <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
              <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
            </div>
            </div>
        </div>
    </div> <!----END CARD DIV-->

    <!--CARD ENTIRE START------------------------------------>
    <div class="w3-row-padding w3-hide-medium" >
      <div class=" w3-container w3-margin-bottom" id = "single-card-entire">
        <!--CARD IMG-->
        <img src="./inc/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
         <!--CARD TAGS-->
          <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
          <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
          <!--CARD RATING-->  
          <div id = "item-ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <p id = "card-info-gamemap">Map - Standoff</p>
          </div>
          <!--CARD INFO-->
          <div id = "card-info">
            <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
            <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
            <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
          </div>
          </div>
      </div>
  </div> <!----END CARD DIV-->
  
  <!--CARD ENTIRE START------------------------------------>
  <div class="w3-row-padding w3-hide-medium" >
    <div class=" w3-container w3-margin-bottom" id = "single-card-entire">
      <!--CARD IMG-->
      <img src="./inc/img/user_upload/0000.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-theme-d3" id = "card-bottom-wrap">
       <!--CARD TAGS-->
        <a id = 'upload-tag-game' class = "w3-tag w3-round  w3-bar-item"> Halo Reach</a>
        <a id = 'upload-tag-filetype' class = "w3-tag w3-round  w3-bar-item"> Gamemode</a>
        <!--CARD RATING-->  
        <div id = "item-ratings">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p id = "card-info-gamemap">Map - Standoff</p>
        </div>
        <!--CARD INFO-->
        <div id = "card-info">
          <p id = "card-info-title"> Halo 3 Classic Jenga</b></p>
          <p id = "card-info-desc">Classic Halo 3 jenga like you know and love! Credit to the original author MrzGriff!</p>
          <p id = "card-info-uploader">uploaded by: xzSniperzxz </p>
        </div>
        </div>
    </div>
</div> <!----END CARD DIV-->

    </div>
    </div>

  </div>

</div>




</body>
</html>
